.container-post{
    background-color: rgba(0, 0, 0, 0.45);
   
}
.none-profil{
   opacity: 1 !important;
   transition: 500ms ease-in-out;
}
#container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
    grid-auto-rows: 40rem;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

}
.post{
    overflow: hidden;
}